.title { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold; color: #B81212;}
.subtitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; }
.short_description { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.materials { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.assembly { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.to_do { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.whats_going_on { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.etcetera { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.footer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }

body { margin: 10px 30px 10px 30px; width:650px; }
.navbar { text-align: center; margin-bottom: 1em; }
.right_column { width: 350px; float: right; border-left: 1px solid; margin-bottom: 5px; padding-bottom: 1em; border-bottom: 1px solid; margin-left: 1em; }
.big_illustration { text-align: center; margin-bottom: 3px; }
.subjects { text-align: center; margin-bottom: 3px; }

.materials_section {margin-bottom: 1em; }
.materials_header { margin-bottom: 3px; }
ul.materials {
	list-style-image: url(images/tick.gif);
	margin-left: 0;
	padding-left:1.5em;
}

ul.materials li {
	margin-left: 0;
	margin-bottom: 3px;
	padding-left:0;
}

.title {margin-bottom: 3px; }
.subtitle {margin-bottom: 1em; }
.short_description {margin-bottom: 1em; }
.assembly {margin-bottom: 1em; }
.to_do_header {margin-bottom: 3px; }
.to_do {margin-bottom: 1em; }

.whats_going_on_header {margin-bottom: 3px; }
.whats_going_on {margin-bottom: 1em; }
.whats_going_on p {margin-bottom: 1em; }

.etcetera_header {margin-bottom: 3px; }
.etcetera {margin-bottom: 1em; }
.etcetera p {margin-bottom: 1em; }

.footer {text-align: center; }